@keyframes scan {
  0% { background-position: 0 -100vh; }
  35%, 100% { background-position: 0 100vh; }
}

@keyframes blink {
  0%, 49% { background: transparent; }
  50%, 100% { background: rgba(128, 255, 128, .8); }
}
