* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.terminal {
  width: 930px;
  height: 700px;
  background-size: contain;
  margin: 0 auto;
  position: relative;
  background-image: url('../images/power_off.png');

  &.terminal-on {
    background-image: url('../images/power_on.png');

    .display {
      background-image: radial-gradient(ellipse 500% 100% at 50% 90%, transparent, #121);
      background: #131;

      &:after,
      &:before {
        content: '';
      }
    }
  }

  .power-button {
    position: absolute;
    width: 54px;
    height: 50px;
    right: 157px;
    bottom: 49px;
    cursor: pointer;
  }

  .display {
    overflow: hidden;
    padding: 20px;
    position: absolute;
    left: 96px;
    top: 81px;
    right: 90px;
    bottom: 165px;
    background: #000;
    border-radius: 20px;
    background-image: radial-gradient(ellipse 500% 100% at 50% 90%, transparent, #121);
    box-shadow: inset 0 0 10em 1em rgba(0, 0, 0, 0.5);
    font-family: monospace;
    color: rgba(128, 255, 128, 0.8);

    &:after,
    &:before {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
    }

    &:after {
      background-image: radial-gradient(ellipse 50% 15% at 50% 15%, rgba(255, 255, 255, 0.05), transparent),
                        radial-gradient(ellipse 50% 10% at 50% 12%, rgba(255, 255, 255, 0.1), transparent),
                        radial-gradient(ellipse 50% 5% at 50% 10%, rgba(255, 255, 255, 0.1), transparent),
                        radial-gradient(ellipse 50% 3% at 50% 9%, rgba(255, 255, 255, 0.1), transparent),
                        radial-gradient(ellipse 200% 20% at 50% 0%, rgba(0, 0, 0, 0.5), transparent),
                        linear-gradient(0deg, rgba(0, 0, 0, 0.2) 50%, transparent 50%);
      background-size: 100%, 100%, 100%, 100%, 100%, 100% 0.25ch;
    }

    &:before {
      background-image: linear-gradient(0deg, transparent 0%, rgba(32, 128, 32, 0.2) 2%, rgba(32, 128, 32, 0.8) 3%, rgba(32, 128, 32, 0.2) 3%, transparent 100%);
      background-repeat: no-repeat;
      animation: scan 7.5s linear 0s infinite;
    }

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        padding: 1px 3px;
        margin: -1px -3px;
        background-color: rgba(128, 255, 128, 0.8);
        color: #131;
      }
    }
  }
}

@keyframes scan {
  0% { background-position: 0 -100vh; }
  35%, 100% { background-position: 0 100vh; }
}

.screen {
  display: none;
}

.screen-inner {
  transition: transform .5s linear;
  transform: none;

  &.remove {
    transform: translateY(-454px);
  }
}
