<div class="screen-inner">
  <div>ROBCO INDUSTRIES (TM) TERMALINK PROTOCOL</div>
  <div>ENTER PIN NOW <a href="https://home.nest.com/login/oauth2?client_id=675828bd-1689-4422-94f4-4b3a5776746f&state=STATE" target="_blank">(wondering how to get?)</a></div>
  <br>
  <div id='input'></div>
  <br>
  <br>
  <div class="divider"></div>
  <div id='symbols'>
    <a href='#'>A</a>
    <a href='#'>B</a>
    <a href='#'>C</a>
    <a href='#'>D</a>
    <a href='#'>E</a>
    <a href='#'>F</a>
    <a href='#'>G</a>
    <a href='#'>H</a>
    <a href='#'>I</a>
    <a href='#'>J</a>
    <a href='#'>K</a>
    <a href='#'>L</a>
    <a href='#'>M</a>
    <a href='#'>N</a>
    <a href='#'>O</a>
    <a href='#'>P</a>
    <a href='#'>Q</a>
    <a href='#'>R</a>
    <a href='#'>S</a>
    <a href='#'>T</a>
    <a href='#'>U</a>
    <a href='#'>V</a>
    <a href='#'>W</a>
    <a href='#'>X</a>
    <a href='#'>Y</a>
    <a href='#'>Z</a>
    <br>
    <a href="#">0</a>
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">7</a>
    <a href="#">8</a>
    <a href="#">9</a>
  </div>
  <div class="divider"></div>
  <br>
  <a href="#" id='ok'>OK</a>
</div>
