<div class="screen-inner">
  <div class="text-center">
    <div>ROBCO INDUSTRIES UNIFIED OPERATING SYSTEM</div>
    <div>COPYRIGHT 2075-2077 ROBCO INDUSTRIES</div>
    <div>-Server 42-</div>
  </div>
  <br>
  <div>Item information:</div>
  <div class="divider"></div>
  <ul>
    <li><a id='back' href="#">Back</a></li>
  </ul>
  <div class="divider"></div>
  <ul class='info'></ul>
</div>
